*{
    font-family: 'Playpen Sans', cursive;
}

html{
    font-size: 16px;
}

body{
    width: 100%;
    margin: 0;
}

/* HEADER */

.headR
{
    min-height: 60px;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    padding: 0px 24px;
    height:64px;
    position: fixed;
    z-index: 10;
    background-color: aliceblue;
    
}
 .logo{
    display: flex;
    height:32px;

 }

 .logo_img
 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
 }
.nav-links{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    margin: auto 10px;

}
.nav-links a:hover{
    color:brown;
}

.res_nav{
    display: none;
}

.headR a{
    text-decoration: none;
}



/*BANNER*/
.banner{
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    position: relative;
    top:60px;
    
}

.banner_image{
    width: 60%;
    margin: 32px 24px;
}

.learn{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 32px 24px;

}
.learn h2{
    font-size: 2rem;
    margin: 0;
}

.learn p{
    font-size: 1.5rem;
}
.start_btn
{
    width:100%;
    padding: 8px;
    background-color: grey;
    color: white;
}

/*MAIN INFORMATION*/

.info_main{
    display: flex;
    width: 100;
    width: auto;
    position: relative;
    top:60px;
}

.info_image img{
    overflow: hidden;
    height: auto;
    width: 60%;
    WIDTH: -WEBKIT-FILL-AVAILABLE;
}

.info_image{
    width: 60%;
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    flex-wrap: wrap;
}

.info_links{
    display: flex;
    flex-direction: column;
    align-content: end;
    flex-wrap: wrap;
    margin: 32px 24px;
}

.infolink img{
    width: 35%;
    height: auto;
    margin:10px auto;
}

.infolink{
    display: flex;
    flex-direction: row;
}

/*LEARNNGS*/
.learningsdiv{
    text-align: center;
    background-color: lightgrey;

}

.learningsdiv h2{
    
}

.learnings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

}

.learning{
    background-color: white;
    margin:16px;
    width: 350px;
}

.learning img{
    WIDTH: -WEBKIT-FILL-AVAILABLE;
}

.learning_text{

display: flex;
flex-direction: column;
align-content: flex-start;
text-align: left;
}
/*THESIS*/
.thesis{
    display: flex;
    justify-content: space-around;
    position: relative;
    top:60px;
}

.thesis_video video{
    WIDTH: -WEBKIT-FILL-AVAILABLE;
}

.thesis_video{
    display: flex;
    flex-direction: column;
    width:60%;
    margin:32px 24px;
}

.thesis_links{
    margin: 22px 24px;
}
.thesis_link{
    display: flex;
}

.thesis_text{
    display:flex;
    flex-direction: column;
}

.thesis_text h1{
    font-size: larger;
}
.thesis img{
    width: 35%;
    height: auto;
    margin:10px auto;
}
/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.terms{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding:10px;
}

@media only screen and (max-width:860px)
{
    
    .res_nav{
        display: flex;
    }
    .logo p{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .banner_image{
        width:auto;
    }

    .info_image{
        display:none;
    }

    .thesis_links{
        display: none;
    }

    .learnings{
        flex-direction: column;
        background-color: white;
    }

    .learningsdiv{
        background-color: white;
    }
    
    .learning_text h2{
        
        text-align: center;
        background-color: lightgray;
        padding:15px;
        margin:0;
    
    }

    .learning img, .learning p{
        display: none;
    }
}
